<!DOCTYPE html>
<html lang="en">
  <head>
    <title> ValueEssentials </title>
  </head>

  <body>
    <!-- BEGIN NAVIGATION SECTION -->
    <nav role="navigation">
      <div>
        <a href="/">ValueEssentials</a>
        <ul>
              <li><a href="/ve/my-docs">Documents</a></li>
              <li><a href="/ve/profile">Profile</a></li>
        </ul>
      </div>
    </nav>
    <!-- END NAVIGATION SECTION -->

    <!-- BEGIN TEMPLATE INCLUDE SECTION -->
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <!-- END TEMPLATE INCLUDE SECTION -->
  </body>
</html>
